In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
import seaborn as sns

In [2]:
#Import Dataset
df = pd.read_csv('../NYPD_Complaint_Data_Current__Year_To_Date.csv')
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,244685801,69,BROOKLYN,01/01/2015,00:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,<18,BLACK,F,1010541,175595,40.648614,-73.905257,"(40.6486135510607, -73.9052572032302)",POINT (-73.9052572032302 40.6486135510607)
1,242250195,42,BRONX,03/17/2022,15:23:00,03/17/2022,15:28:00,ATTEMPTED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1010419,242374,40.831899,-73.905435,"(40.831899, -73.905435)",POINT (-73.905435 40.831899)
2,242385774,123,STATEN ISLAND,03/20/2022,11:52:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,926029,138052,40.545405,-74.209485,"(40.545405, -74.209485)",POINT (-74.209485 40.545405)
3,242643555,121,STATEN ISLAND,03/24/2022,15:00:00,03/24/2022,22:00:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,942822,166353,40.623188,-74.149238,"(40.6231883776008, -74.1492376947323)",POINT (-74.1492376947323 40.6231883776008)
4,242816732,42,BRONX,03/29/2022,15:24:00,03/29/2022,15:30:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,M,1010131,240105,40.825670,-73.906484,"(40.82567, -73.906484)",POINT (-73.906484 40.82567)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256797 entries, 0 to 256796
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                256797 non-null  object
 1   ADDR_PCT_CD               256797 non-null  int64
 2   BORO_NM                   256797 non-null  object
 3   CMPLNT_FR_DT              256797 non-null  object
 4   CMPLNT_FR_TM              256797 non-null  object
 5   CMPLNT_TO_DT              237423 non-null  object
 6   CMPLNT_TO_TM              256797 non-null  object
 7   CRM_ATPT_CPTD_CD          256797 non-null  object
 8   HADEVELOPT                256797 non-null  object
 9   HOUSING_PSA               16985 non-null   float64
 10  JURISDICTION_CODE         256797 non-null  int64
 11  JURIS_DESC                256797 non-null  object
 12  KY_CD                     256797 non-null  int64
 13  LAW_CAT_CD                256797 non-null  object
 14  LOC_OF_OCCUR_DESC         256797 non-null  object
 15  OFNS_DESC                 256797 non-null  object
 16  PARKS_NM                  256797 non-null  object
 17  PATROL_BORO               256797 non-null  object
 18  PD_CD                     256528 non-null  float64
 19  PD_DESC                   256797 non-null  object
 20  PREM_TYP_DESC             256797 non-null  object
 21  RPT_DT                    256797 non-null  object
 22  STATION_NAME              256797 non-null  object
 23  SUSP_AGE_GROUP            256797 non-null  object
 24  SUSP_RACE                 256797 non-null  object
 25  SUSP_SEX                  256797 non-null  object
 26  TRANSIT_DISTRICT          5708 non-null    float64
 27  VIC_AGE_GROUP             256797 non-null  object
 28  VIC_RACE                  256797 non-null  object
 29  VIC_SEX                   256797 non-null  object
 30  X_COORD_CD                256797 non-null  int64
 31  Y_COORD_CD                256797 non-null  int64
 32  Latitude                  256797 non-null  float64
 33  Longitude                 256797 non-null  float64
 34  Lat_Lon                   256797 non-null  object
 35  New Georeferenced Column  256797 non-null  object
dtypes: float64(5), int64(5), object(26)
memory usage: 70.5+ MB

In [4]:
df.shape

(256797, 36)

In [5]:
df.isnull().sum()

CMPLNT_NUM                       0
ADDR_PCT_CD                      0
BORO_NM                          0
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 19374
CMPLNT_TO_TM                     0
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                       0
HOUSING_PSA                 239812
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC                0
OFNS_DESC                        0
PARKS_NM                         0
PATROL_BORO                      0
PD_CD                          269
PD_DESC                          0
PREM_TYP_DESC                    0
RPT_DT                           0
STATION_NAME                     0
SUSP_AGE_GROUP                   0
SUSP_RACE                        0
SUSP_SEX                         0
TRANSIT_DISTRICT            251089
VIC_AGE_GROUP                    0
VIC_RACE                         0
VIC_SEX                          0
X_COORD_CD                       0
Y_COORD_CD                       0
Latitude                         0
Longitude                        0
Lat_Lon                          0
New Georeferenced Column         0
dtype: int64

In [6]:
df.drop(columns=['HOUSING_PSA','TRANSIT_DISTRICT'],inplace= True)

In [7]:
df.replace('(null)',np.nan,inplace= True)

In [8]:
df.isna().sum()

CMPLNT_NUM                       0
ADDR_PCT_CD                      0
BORO_NM                        441
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 19374
CMPLNT_TO_TM                 19319
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                  255982
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC            41066
OFNS_DESC                        6
PARKS_NM                    255376
PATROL_BORO                      4
PD_CD                          269
PD_DESC                        269
PREM_TYP_DESC                  107
RPT_DT                           0
STATION_NAME                251089
SUSP_AGE_GROUP               50792
SUSP_RACE                    50792
SUSP_SEX                     50792
VIC_AGE_GROUP                    0
VIC_RACE                        72
VIC_SEX                          0
X_COORD_CD                       0
Y_COORD_CD                       0
Latitude                         0
Longitude                        0
Lat_Lon                          0
New Georeferenced Column         0
dtype: int64

In [9]:
df.drop(columns=['HADEVELOPT','PARKS_NM', 'STATION_NAME'],inplace= True)

In [10]:
df.shape

(256797, 31)

In [11]:
df.drop_duplicates(inplace = True)

In [12]:
df.fillna(np.nan,inplace = True)

In [13]:
df.dropna()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
1,242250195,42,BRONX,03/17/2022,15:23:00,03/17/2022,15:28:00,ATTEMPTED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,D,1010419,242374,40.831899,-73.905435,"(40.831899, -73.905435)",POINT (-73.905435 40.831899)
3,242643555,121,STATEN ISLAND,03/24/2022,15:00:00,03/24/2022,22:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,18-24,BLACK,F,942822,166353,40.623188,-74.149238,"(40.6231883776008, -74.1492376947323)",POINT (-74.1492376947323 40.6231883776008)
4,242816732,42,BRONX,03/29/2022,15:24:00,03/29/2022,15:30:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,45-64,BLACK,M,1010131,240105,40.825670,-73.906484,"(40.82567, -73.906484)",POINT (-73.906484 40.82567)
6,238863220,25,MANHATTAN,12/31/2021,21:45:00,12/31/2021,21:50:00,COMPLETED,2,N.Y. HOUSING POLICE,...,F,25-44,BLACK,M,1002844,230571,40.799522,-73.932838,"(40.799522, -73.932838)",POINT (-73.932838 40.799522)
7,242870934,46,BRONX,03/16/2018,12:00:00,03/30/2022,22:57:00,COMPLETED,0,N.Y. POLICE DEPT,...,U,25-44,WHITE HISPANIC,F,1007476,247738,40.846629,-73.916050,"(40.846629, -73.91605)",POINT (-73.91605 40.846629)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256785,247415547,67,BROOKLYN,06/30/2022,07:30:00,06/30/2022,07:45:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,18-24,BLACK,F,1004537,181012,40.663492,-73.926872,"(40.663492, -73.926872)",POINT (-73.926872 40.663492)
256787,247392103,40,BRONX,06/30/2022,18:05:00,06/30/2022,18:15:00,ATTEMPTED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,D,1007667,237199,40.817703,-73.915395,"(40.817703, -73.915395)",POINT (-73.915395 40.817703)
256791,247392173,109,QUEENS,06/30/2022,18:38:00,06/30/2022,18:48:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,45-64,WHITE HISPANIC,M,1036784,224128,40.781700,-73.810305,"(40.7817, -73.810305)",POINT (-73.810305 40.7817)
256792,247399166,33,MANHATTAN,06/30/2022,22:10:00,06/30/2022,22:25:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,45-64,BLACK,M,1001528,244950,40.838991,-73.937557,"(40.838991, -73.937557)",POINT (-73.937557 40.838991)
256795,247434393,109,QUEENS,06/30/2022,14:30:00,06/30/2022,15:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555,"(40.788796, -73.810555)",POINT (-73.810555 40.788796)

In [14]:
df.dropna()

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
1,242250195,42,BRONX,03/17/2022,15:23:00,03/17/2022,15:28:00,ATTEMPTED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,D,1010419,242374,40.831899,-73.905435,"(40.831899, -73.905435)",POINT (-73.905435 40.831899)
3,242643555,121,STATEN ISLAND,03/24/2022,15:00:00,03/24/2022,22:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,18-24,BLACK,F,942822,166353,40.623188,-74.149238,"(40.6231883776008, -74.1492376947323)",POINT (-74.1492376947323 40.6231883776008)
4,242816732,42,BRONX,03/29/2022,15:24:00,03/29/2022,15:30:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,45-64,BLACK,M,1010131,240105,40.825670,-73.906484,"(40.82567, -73.906484)",POINT (-73.906484 40.82567)
6,238863220,25,MANHATTAN,12/31/2021,21:45:00,12/31/2021,21:50:00,COMPLETED,2,N.Y. HOUSING POLICE,...,F,25-44,BLACK,M,1002844,230571,40.799522,-73.932838,"(40.799522, -73.932838)",POINT (-73.932838 40.799522)
7,242870934,46,BRONX,03/16/2018,12:00:00,03/30/2022,22:57:00,COMPLETED,0,N.Y. POLICE DEPT,...,U,25-44,WHITE HISPANIC,F,1007476,247738,40.846629,-73.916050,"(40.846629, -73.91605)",POINT (-73.91605 40.846629)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256785,247415547,67,BROOKLYN,06/30/2022,07:30:00,06/30/2022,07:45:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,18-24,BLACK,F,1004537,181012,40.663492,-73.926872,"(40.663492, -73.926872)",POINT (-73.926872 40.663492)
256787,247392103,40,BRONX,06/30/2022,18:05:00,06/30/2022,18:15:00,ATTEMPTED,0,N.Y. POLICE DEPT,...,M,UNKNOWN,UNKNOWN,D,1007667,237199,40.817703,-73.915395,"(40.817703, -73.915395)",POINT (-73.915395 40.817703)
256791,247392173,109,QUEENS,06/30/2022,18:38:00,06/30/2022,18:48:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,45-64,WHITE HISPANIC,M,1036784,224128,40.781700,-73.810305,"(40.7817, -73.810305)",POINT (-73.810305 40.7817)
256792,247399166,33,MANHATTAN,06/30/2022,22:10:00,06/30/2022,22:25:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,45-64,BLACK,M,1001528,244950,40.838991,-73.937557,"(40.838991, -73.937557)",POINT (-73.937557 40.838991)
256795,247434393,109,QUEENS,06/30/2022,14:30:00,06/30/2022,15:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,M,25-44,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555,"(40.788796, -73.810555)",POINT (-73.810555 40.788796)

In [15]:
df.drop(columns=['Lat_Lon', 'New Georeferenced Column'], inplace= True)

In [16]:
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,JURISDICTION_CODE,JURIS_DESC,...,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,244685801,69,BROOKLYN,01/01/2015,00:00:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,18-24,UNKNOWN,M,<18,BLACK,F,1010541,175595,40.648614,-73.905257
1,242250195,42,BRONX,03/17/2022,15:23:00,03/17/2022,15:28:00,ATTEMPTED,0,N.Y. POLICE DEPT,...,UNKNOWN,BLACK,M,UNKNOWN,UNKNOWN,D,1010419,242374,40.831899,-73.905435
2,242385774,123,STATEN ISLAND,03/20/2022,11:52:00,NaN,NaN,COMPLETED,0,N.Y. POLICE DEPT,...,25-44,BLACK,F,45-64,WHITE,F,926029,138052,40.545405,-74.209485
3,242643555,121,STATEN ISLAND,03/24/2022,15:00:00,03/24/2022,22:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,25-44,BLACK,M,18-24,BLACK,F,942822,166353,40.623188,-74.149238
4,242816732,42,BRONX,03/29/2022,15:24:00,03/29/2022,15:30:00,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,BLACK,M,45-64,BLACK,M,1010131,240105,40.825670,-73.906484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256792,247399166,33,MANHATTAN,06/30/2022,22:10:00,06/30/2022,22:25:00,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,BLACK,M,45-64,BLACK,M,1001528,244950,40.838991,-73.937557
256793,247392181,113,QUEENS,06/30/2022,19:26:00,06/30/2022,19:40:00,COMPLETED,0,N.Y. POLICE DEPT,...,NaN,NaN,NaN,UNKNOWN,UNKNOWN,E,1042079,184712,40.673480,-73.791525
256794,247383348,90,BROOKLYN,06/30/2022,12:36:00,06/30/2022,12:40:00,COMPLETED,0,N.Y. POLICE DEPT,...,UNKNOWN,UNKNOWN,U,25-44,BLACK,F,997769,198569,40.711692,-73.951236
256795,247434393,109,QUEENS,06/30/2022,14:30:00,06/30/2022,15:00:00,COMPLETED,0,N.Y. POLICE DEPT,...,45-64,WHITE,M,25-44,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555
256796,247376531,18,MANHATTAN,06/30/2022,12:57:00,06/30/2022,13:08:00,COMPLETED,1,N.Y. TRANSIT POLICE,...,25-44,BLACK,M,25-44,WHITE,F,988451,217993,40.765024,-73.984836

In [17]:
df.SUSP_AGE_GROUP.unique()

array(['18-24', 'UNKNOWN', '25-44', nan, '45-64', '<18', '65+', '-74',
       '-969', '2022', '-1', '-5962', '-961', '-10', '-941'], dtype=object)

In [18]:
df.SUSP_RACE.unique()

array(['UNKNOWN', 'BLACK', nan, 'WHITE HISPANIC', 'WHITE',
       'ASIAN / PACIFIC ISLANDER', 'BLACK HISPANIC',
       'AMERICAN INDIAN/ALASKAN NATIVE'], dtype=object)

In [19]:
df.SUSP_RACE.value_counts()['UNKNOWN']

62985

In [20]:
df.VIC_AGE_GROUP.unique()

array(['<18', 'UNKNOWN', '45-64', '18-24', '25-44', '65+', '-11', '-5',
       '-934', '-960', '-65', '-970', '-40', '-971', '-4', '-964', '-955',
       '-959', '-963'], dtype=object)

In [21]:
df.VIC_AGE_GROUP.value_counts()[['UNKNOWN','-11', '-5','-934', '-960', '-65', '-970', '-40', '-971', '-4', '-964', '-955','-959', '-963']]

UNKNOWN    72688
-11            1
-5             2
-934           1
-960           1
-65            2
-970           1
-40            1
-971           1
-4             1
-964           1
-955           1
-959           1
-963           1
Name: VIC_AGE_GROUP, dtype: int64

In [22]:
df.VIC_RACE.unique()

array(['BLACK', 'UNKNOWN', 'WHITE', 'WHITE HISPANIC', 'BLACK HISPANIC',
       'ASIAN / PACIFIC ISLANDER', 'AMERICAN INDIAN/ALASKAN NATIVE', nan],
      dtype=object)

In [23]:
df.VIC_RACE.value_counts()['UNKNOWN']

77580

In [24]:
df.SUSP_AGE_GROUP.value_counts()['-74']

1

In [25]:
df.SUSP_AGE_GROUP.value_counts()['-1']

1

In [26]:
df.SUSP_AGE_GROUP.value_counts()['-5962']

1

In [27]:
df.SUSP_AGE_GROUP.value_counts()['-961']

1

In [28]:
df.SUSP_AGE_GROUP.value_counts()['-10']

1

In [29]:
df.SUSP_AGE_GROUP.value_counts()['-941']

1

In [30]:
df.SUSP_AGE_GROUP.value_counts()['UNKNOWN']

96968

In [31]:
indexAge = df[ (df['SUSP_AGE_GROUP'] == 'UNKNOWN') ].index
df.drop(indexAge , inplace=True)

In [32]:
df.shape

(159829, 29)

In [33]:
indexAge1 = df[ (df['VIC_AGE_GROUP'] == 'UNKNOWN') ].index
df.drop(indexAge1 , inplace=True)

In [34]:
df.shape

(113488, 29)

In [35]:
indexAge3 = df[ (df['SUSP_RACE'] == 'UNKNOWN') ].index
df.drop(indexAge3 , inplace=True)
df.shape

(109575, 29)

In [36]:
indexAge4 = df[ (df['VIC_RACE'] == 'UNKNOWN') ].index
df.drop(indexAge4 , inplace=True)
df.shape

(105932, 29)

In [37]:
# Show descriptive statistics
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ADDR_PCT_CD,105932.0,6.771407e+01,33.228178,1.000000,43.000000,6.900000e+01,1.030000e+02,1.230000e+02
JURISDICTION_CODE,105932.0,4.069686e-01,4.348423,0.000000,0.000000,0.000000e+00,0.000000e+00,9.700000e+01
KY_CD,105932.0,3.182076e+02,169.205191,101.000000,118.000000,3.440000e+02,3.610000e+02,6.780000e+02
PD_CD,105666.0,3.822025e+02,228.262161,100.000000,115.000000,3.520000e+02,6.380000e+02,9.220000e+02
X_COORD_CD,105932.0,1.006778e+06,21999.720938,914465.000000,995626.000000,1.006536e+06,1.019164e+06,1.067226e+06
Y_COORD_CD,105932.0,2.072426e+05,31072.861439,121312.000000,183796.000000,2.056365e+05,2.364240e+05,2.718190e+05
Latitude,105932.0,4.073546e+01,0.085289,40.499393,40.671130,4.073101e+01,4.081557e+01,4.091271e+01
Longitude,105932.0,-7.391868e+01,0.079341,-74.250939,-73.958987,-7.391949e+01,-7.387400e+01,-7.370056e+01

In [38]:
df.corr()

,ADDR_PCT_CD,JURISDICTION_CODE,KY_CD,PD_CD,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
ADDR_PCT_CD,1.000000,-0.041761,-0.012067,0.013662,0.171175,-0.491698,-0.492080,0.170902
JURISDICTION_CODE,-0.041761,1.000000,0.000034,-0.020291,-0.003183,0.025475,0.025488,-0.003169
KY_CD,-0.012067,0.000034,1.000000,0.493468,-0.026745,-0.009261,-0.009261,-0.026745
PD_CD,0.013662,-0.020291,0.493468,1.000000,-0.019292,-0.009261,-0.009276,-0.019245
X_COORD_CD,0.171175,-0.003183,-0.026745,-0.019292,1.000000,0.337552,0.337042,0.999998
Y_COORD_CD,-0.491698,0.025475,-0.009261,-0.009261,0.337552,1.000000,1.000000,0.338726
Latitude,-0.492080,0.025488,-0.009261,-0.009276,0.337042,1.000000,1.000000,0.338215
Longitude,0.170902,-0.003169,-0.026745,-0.019245,0.999998,0.338726,0.338215,1.000000

In [39]:
from sklearn import preprocessing

In [40]:
# Scale the dataset into [0,1]
scaler1 = preprocessing.MinMaxScaler().fit(df[['ADDR_PCT_CD',
                                                 'JURISDICTION_CODE',
                                                 'KY_CD',
                                                 'PD_CD','X_COORD_CD','Y_COORD_CD','Latitude','Longitude']])

df_scale = scaler1.transform(df[['ADDR_PCT_CD',
                                                 'JURISDICTION_CODE',
                                                 'KY_CD',
                                                 'PD_CD','X_COORD_CD','Y_COORD_CD','Latitude','Longitude']])

In [41]:
type(df_scale)

numpy.ndarray

In [42]:
import pandas as pd
df_scale = pd.DataFrame(df_scale,columns=['ADDR_PCT_CD',
                                              'JURISDICTION_CODE',
                                              'KY_CD',
                                              'PD_CD','X_COORD_CD','Y_COORD_CD','Latitude','Longitude'])

In [43]:
type(df_scale)

pandas.core.frame.DataFrame

In [44]:
df_scale.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
ADDR_PCT_CD,105932.0,0.546837,0.272362,0.0,0.344262,0.557377,0.836066,1.0
JURISDICTION_CODE,105932.0,0.004196,0.044829,0.0,0.000000,0.000000,0.000000,1.0
KY_CD,105932.0,0.376443,0.293250,0.0,0.029463,0.421144,0.450607,1.0
PD_CD,105666.0,0.343312,0.277691,0.0,0.018248,0.306569,0.654501,1.0
X_COORD_CD,105932.0,0.604294,0.144014,0.0,0.531294,0.602713,0.685378,1.0
Y_COORD_CD,105932.0,0.570941,0.206455,0.0,0.415157,0.560270,0.764828,1.0
Latitude,105932.0,0.571136,0.206351,0.0,0.415505,0.560386,0.764960,1.0
Longitude,105932.0,0.603703,0.144159,0.0,0.530461,0.602221,0.684871,1.0

From the above descriptive statistics, we can see that the four numerical columns in the scaled dataset have been scaled to the range of [0,1].