In [1]:
import pandas as pd
import numpy as np

In [3]:
#Import Dataset
df = pd.read_csv('NYPD_Complaint_Data_Current__Year_To_Date_.csv')
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,244685801,69,BROOKLYN,01/01/2015,00:00:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,<18,BLACK,F,1010541,175595,40.648614,-73.905257,"(40.6486135510607, -73.9052572032302)",POINT (-73.9052572032302 40.6486135510607)
1,242250195,42,BRONX,03/17/2022,15:23:00,03/17/2022,15:28:00,ATTEMPTED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1010419,242374,40.831899,-73.905435,"(40.831899, -73.905435)",POINT (-73.905435 40.831899)
2,242385774,123,STATEN ISLAND,03/20/2022,11:52:00,NaN,(null),COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,926029,138052,40.545405,-74.209485,"(40.545405, -74.209485)",POINT (-74.209485 40.545405)
3,242643555,121,STATEN ISLAND,03/24/2022,15:00:00,03/24/2022,22:00:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK,F,942822,166353,40.623188,-74.149238,"(40.6231883776008, -74.1492376947323)",POINT (-74.1492376947323 40.6231883776008)
4,242816732,42,BRONX,03/29/2022,15:24:00,03/29/2022,15:30:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,M,1010131,240105,40.825670,-73.906484,"(40.82567, -73.906484)",POINT (-73.906484 40.82567)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256792,247399166,33,MANHATTAN,06/30/2022,22:10:00,06/30/2022,22:25:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,M,1001528,244950,40.838991,-73.937557,"(40.838991, -73.937557)",POINT (-73.937557 40.838991)
256793,247392181,113,QUEENS,06/30/2022,19:26:00,06/30/2022,19:40:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1042079,184712,40.673480,-73.791525,"(40.6734796, -73.79152522)",POINT (-73.79152522 40.6734796)
256794,247383348,90,BROOKLYN,06/30/2022,12:36:00,06/30/2022,12:40:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,997769,198569,40.711692,-73.951236,"(40.71169241, -73.95123582)",POINT (-73.95123582 40.71169241)
256795,247434393,109,QUEENS,06/30/2022,14:30:00,06/30/2022,15:00:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1036709,226713,40.788796,-73.810555,"(40.788796, -73.810555)",POINT (-73.810555 40.788796)
256796,247376531,18,MANHATTAN,06/30/2022,12:57:00,06/30/2022,13:08:00,COMPLETED,(null),NaN,...,1.0,25-44,WHITE,F,988451,217993,40.765024,-73.984836,"(40.7650240788333, -73.9848359497083)",POINT (-73.9848359497083 40.7650240788333)

The Dataset has 256797 rows and 36 columns

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256797 entries, 0 to 256796
Data columns (total 36 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                256797 non-null  object
 1   ADDR_PCT_CD               256797 non-null  int64
 2   BORO_NM                   256797 non-null  object
 3   CMPLNT_FR_DT              256797 non-null  object
 4   CMPLNT_FR_TM              256797 non-null  object
 5   CMPLNT_TO_DT              237423 non-null  object
 6   CMPLNT_TO_TM              256797 non-null  object
 7   CRM_ATPT_CPTD_CD          256797 non-null  object
 8   HADEVELOPT                256797 non-null  object
 9   HOUSING_PSA               16985 non-null   float64
 10  JURISDICTION_CODE         256797 non-null  int64
 11  JURIS_DESC                256797 non-null  object
 12  KY_CD                     256797 non-null  int64
 13  LAW_CAT_CD                256797 non-null  object
 14  LOC_OF_OCCUR_DESC         256797 non-null  object
 15  OFNS_DESC                 256797 non-null  object
 16  PARKS_NM                  256797 non-null  object
 17  PATROL_BORO               256797 non-null  object
 18  PD_CD                     256528 non-null  float64
 19  PD_DESC                   256797 non-null  object
 20  PREM_TYP_DESC             256797 non-null  object
 21  RPT_DT                    256797 non-null  object
 22  STATION_NAME              256797 non-null  object
 23  SUSP_AGE_GROUP            256797 non-null  object
 24  SUSP_RACE                 256797 non-null  object
 25  SUSP_SEX                  256797 non-null  object
 26  TRANSIT_DISTRICT          5708 non-null    float64
 27  VIC_AGE_GROUP             256797 non-null  object
 28  VIC_RACE                  256797 non-null  object
 29  VIC_SEX                   256797 non-null  object
 30  X_COORD_CD                256797 non-null  int64
 31  Y_COORD_CD                256797 non-null  int64
 32  Latitude                  256797 non-null  float64
 33  Longitude                 256797 non-null  float64
 34  Lat_Lon                   256797 non-null  object
 35  New Georeferenced Column  256797 non-null  object
dtypes: float64(5), int64(5), object(26)
memory usage: 70.5+ MB

In [5]:
df.isnull().sum()

CMPLNT_NUM                       0
ADDR_PCT_CD                      0
BORO_NM                          0
CMPLNT_FR_DT                     0
CMPLNT_FR_TM                     0
CMPLNT_TO_DT                 19374
CMPLNT_TO_TM                     0
CRM_ATPT_CPTD_CD                 0
HADEVELOPT                       0
HOUSING_PSA                 239812
JURISDICTION_CODE                0
JURIS_DESC                       0
KY_CD                            0
LAW_CAT_CD                       0
LOC_OF_OCCUR_DESC                0
OFNS_DESC                        0
PARKS_NM                         0
PATROL_BORO                      0
PD_CD                          269
PD_DESC                          0
PREM_TYP_DESC                    0
RPT_DT                           0
STATION_NAME                     0
SUSP_AGE_GROUP                   0
SUSP_RACE                        0
SUSP_SEX                         0
TRANSIT_DISTRICT            251089
VIC_AGE_GROUP                    0
VIC_RACE                         0
VIC_SEX                          0
X_COORD_CD                       0
Y_COORD_CD                       0
Latitude                         0
Longitude                        0
Lat_Lon                          0
New Georeferenced Column         0
dtype: int64

The fields CMPLNT_TO_DT, HOUSING_PSA, PD_CD, TRANSIT_DISTRIC have null values